@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --black: #333;
    --white: #fff;
    --orange: #cc6633;
    --green: #a4cc33;
    --greyF3: #f3f3f3;
    --greyF4: #f4f4f4;
    --greyD9: #d9d9d9;
    --greyC45: #c4c4c4;
    --grey99: #999999;
    --grey66: #666666;

}

body {
    padding: 0;
    margin: 0;
    background-color: var(--greyF4);
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', serif;
}

* {
    color: var(--black);
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}